.env
*.exe
*.test
vendor/
.DS_Store
bin/
__pycache__/
*.pyc
.pytest_cache/
*.db
*.sqlite
/dist
/build
venv/
b-map-c78bf-firebase-adminsdk-fbsvc-fbc36c7cbb.json
b-map-de115-firebase-adminsdk-fbsvc-44dcfad446.json
*-firebase-adminsdk-fbsvc-*.json
